* {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", sans-serif;
}

body {
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  text-decoration: none;
  text-align: center;
  position: sticky;
  margin-top: 3em;
}

input {
  border-radius: 1.7em;
  text-align: center;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.9em;
  box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.3);
}

input:focus {
  outline: none;
}

#container {
    display: none;
}

.container {
  margin-top: 10px;
  margin-left: auto;
  align-items: center;
  text-align: center;
  display: inline-block;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#basic {
  margin-top: 1.7em;
  text-align: left;
  margin-left: 1em;
}

ul {
  text-decoration: none;
  border-radius: 22px;
  margin: 1em;
}

li {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  width: 25px;
  height: 25px;
  text-decoration: none;
  list-style: none;
  padding: 3em;
  border-radius: 27px;
  display:inline-table;
  margin: 0.7em;
  margin-top: 3em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
